<!-- ############################## -->
<!-- >>>>>>>>| index.ejs |<<<<<<<<< -->
<!-- ############################## -->

<!DOCTYPE HTML>

<html>

<head>
    <title>Clement Hill</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="scripts/binary.js"></script>
</head>

<body>
    <section id="title">
        <h1>Clement Hill</h1>

        <div id="ribbon">
            <span id="logo">CH</span>
        </div>
        <h2>Software Engineer</h2>
        <div id="matrix"></div>
    </section>
    <nav>
        <div class="contain">
            <ul>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#">Resume</a></li>
            </ul>
        </div>
    </nav>
    <main>
    </main>
</body>

</html>