<!-- ############################## -->
<!-- >>>>>>>>| index.ejs |<<<<<<<<< -->
<!-- ############################## -->

<!DOCTYPE HTML>

<html>

<head>
    <title>Clement Hill</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="scripts/binary.js"></script>

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/0c53ef9cd8.js" crossorigin="anonymous"></script>
</head>

<body>

    <header id="title">
        <h1>Clement Hill</h1>

        <div id="ribbon">
            <span id="logo">CH</span>
        </div>
        <h2>Software Engineer</h2>
        <div id="matrix"></div>
    </header>

    <nav>
        <div class="contain">
            <ul>
                <li><a href="#aboutMe">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#">Resume</a></li>
            </ul>
        </div>
    </nav>
    <div id="social" class="contain">
        <ul>
            <li><a href="https://www.linkedin.com/in/clement-hill"><i class="fab fa-linkedin"></i> linkedin.com/in/clement-hill</a></li>
            <li><a href="https://github.com/Virolak"><i class="fab fa-github"></i> github.com/Virolak</a></li>
            <li><a href="mailto: info@clementshill.com"><i class="fas fa-envelope"></i> info@clementshill.com</a></li>
        </ul>
    </div>
    <main>
        <section class="contain">
            <article id = "aboutMe">
                <div>
                    <h3>About Me</h3>
                    <span class="divide"></span>
                </div>

                <div>
                <div class="movie pair">
                    <video width="1920" height="1080">

                    </video>
                </div>
                <div class="summary pair">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, fugiat eius. Incidunt, voluptatum officiis, vitae adipisci repellendus commodi quas magnam modi veniam consequuntur, dignissimos recusandae rerum. Repudiandae molestiae optio hic.
                    Adipisci repellat tenetur animi, aspernatur tempore libero voluptas, perspiciatis, doloribus vero non placeat. Aspernatur, omnis rerum doloribus eius, natus officia assumenda nemo at perferendis sequi numquam voluptatem veritatis molestias aut.
                    Praesentium distinctio, consequatur neque ipsum earum excepturi temporibus pariatur sit ducimus, eligendi dolore atque voluptate consequuntur molestias facilis! Unde libero totam nesciunt non repellat optio quasi magni cum facilis sequi.
                    Magni maxime, explicabo ad accusamus enim illum iure alias quibusdam ipsam corporis similique. Quae temporibus hic sequi, ipsam omnis vero laudantium quam sint corporis optio, aperiam voluptates voluptate odit sapiente!
                    </p>
                </div>
            </div>
            </article>
            <article id="projects">
                <div>
                <h3>Projects</h3>
                <span class="divide"></span>
            </div>
            </article>
        </section>
    </main>
</body>

</html>