<!-- ############################## -->
<!-- >>>>>>>>| index.ejs |<<<<<<<<< -->
<!-- ############################## -->

<!DOCTYPE HTML>

<html>

<head>
    <title>Clement Hill</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="scripts/binary.js"></script>

    <link rel="icon" href="/images/logo.png">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/0c53ef9cd8.js" crossorigin="anonymous"></script>
</head>

<body>

    <header id="title">
        <h1>Clement Hill</h1>

        <div id="ribbon">
            <span id="logo">CH</span>
        </div>
        <h2>Software Engineer</h2>
        <div id="matrix"></div>
    </header>

    <nav>
        <div class="contain">
            <ul>
                <li><a href="#aboutMe">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#skills">Skills</a></li>
            </ul>
        </div>
    </nav>
    <div id="social">
        <div class="contain">
        <ul>
                <li><a href="https://www.linkedin.com/in/clement-hill"><i class="fab fa-linkedin"></i> linkedin.com/in/clement-hill</a></li>
                <li><a href="https://github.com/Virolak"><i class="fab fa-github"></i> github.com/Virolak</a></li>
                <li><a href="mailto: info@clementshill.com"><i class="fas fa-envelope"></i> info@clementshill.com</a></li>
            </ul>
        </div>
    </div>
    <main>
        <section class="contain">
            <article id = "aboutMe">
                <div>
                    <h3>About Me</h3>
                    <span class="divide"></span>
                </div>

                <div>
                <div class="movie pair">
                    <video width="1920" height="1080">

                    </video>
                </div>
                <div class="summary pair">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, fugiat eius. Incidunt, voluptatum officiis, vitae adipisci repellendus commodi quas magnam modi veniam consequuntur, dignissimos recusandae rerum. Repudiandae molestiae optio hic.
                    Adipisci repellat tenetur animi, aspernatur tempore libero voluptas, perspiciatis, doloribus vero non placeat. Aspernatur, omnis rerum doloribus eius, natus officia assumenda nemo at perferendis sequi numquam voluptatem veritatis molestias aut.
                    Praesentium distinctio, consequatur neque ipsum earum excepturi temporibus pariatur sit ducimus, eligendi dolore atque voluptate consequuntur molestias facilis! Unde libero totam nesciunt non repellat optio quasi magni cum facilis sequi.
                    Magni maxime, explicabo ad accusamus enim illum iure alias quibusdam ipsam corporis similique. Quae temporibus hic sequi, ipsam omnis vero laudantium quam sint corporis optio, aperiam voluptates voluptate odit sapiente!
                    </p>
                </div>
            </div>
            </article>
            <article id="projects">
                <div>
                    <h3>Projects</h3>
                    <span class="divide"></span>
                </div>
                <article class="project">
                    <h4>Valefor Elements Website</h4>
                    <div>
                        <img src="images/ve_website.png" alt="Valefor Elements Website">
                        <p>
                            A website where I perform my part-time freelance work. Forms include e-commerce functionality
                            Using the Authnet API. Users can check transactions they've made easily as long as they know their 
                            email address and order number.
                        </p>
                        <a href="https://www.valeforelements.com"><i class="fas fa-globe"></i> www.valeforelements.com</a>
                        <a href="https://github.com/Virolak/Valefor-Elements"><i class="fab fa-github"></i> github.com/virolak/valefor-elements</a>

                        <ul>
                            <li>Node.js</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>MySQL</li>
                            <li>Git</li>
                            <li>Express</li>
                            <li>NPM</li>
                            <li>e-commerce</li>
                            <li>VS Code</li>
                        </ul>
                    </div>
                </article>
                <article class="project">
                    <h4>SupplyCache.net (Work In Progress)</h4>
                    <div>
                        <img src="images/supplycache.png" alt="Supply Cache.net Website">
                        <p>
                            A web tool that helps users manage their consumable supply. Users add items, desired quantity,
                            and actual quantity. SupplyCache.net will then generate shopping lists with items missing from
                            desired quantity. 
                        </p>
                        <a href="https://github.com/Virolak/SupplyCache.net"><i class="fab fa-github"></i> github.com/virolak/supplycache.net</a>
                        <ul>
                            <li>Node.js</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>MySQL</li>
                            <li>Git</li>
                            <li>Express</li>
                            <li>NPM</li>
                            <li>Crypto</li>
                            <li>VS Code</li>
                        </ul>
                    </div>
                </article>
                <article class="project">
                    <h4>Console Wars Application</h4>
                    <div>
                        <img src="images/console_wars.png" alt="Console Wars">
                        <p>
                            A small game made to be played in the Windows Command prompt. The program automatically generates and enemy
                            team and you must build a team of your own to defeat them. To win requires a good team and luck.
                        </p>
                        <a href="https://github.com/Virolak/console-wars"><i class="fab fa-github"></i> github.com/virolak/console-wars</a>
                        <ul>
                            <li>C++</li>
                            <li>Visual Studio</li>
                        </ul>
                    </div>
                </article>
            </article>
            <article id="experience">
                <div>
                    <h3>Experience</h3>
                    <span class="divide"></span>
                </div>
            </article>
        </section>
    </main>
</body>

</html>