<!-- ############################## -->
<!-- >>>>>>>>| index.ejs |<<<<<<<<< -->
<!-- ############################## -->

<!DOCTYPE HTML>

<html>

<head>
    <title>Clement Hill</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>
    <main>
        <section id="title">
            <h1>Clement Hill</h1>
            <div id="ribbon">
                <span id="logo">CH</span>
            </div>
            <h2>Software Engineer</h2>
        </section>
    </main>
</body>

</html>